@model BuiTanThanh_2280602928_W3.Models.ProductCategory
@{
    ViewData["Title"] = "Xóa loại nước";
}
<h2>Bạn có chắc muốn xóa loại nước này?</h2>
<div>
    <h4>@Model.Name</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>